input {
  border-radius: 5px;
  height: 30px;
  outline: none;
}
select {
  border-radius: 5px;
  height: 30px;
  width: 180px;
  outline: none;
}
label {
  font-size: 13px;
  align-self: flex-start;
  margin-left: 15px;
  font-weight: bold;
}
.tag {
  text-align: center;
  font-size: 15px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.note-point {
  text-align: center;
}
